#banners {
    .home-slider {
        .slider-1 {
            .caption.top-right {
                right: 22.2% !important;
                left: inherit !important;
            }
        }
    }
}

// homepage bungkie section components
.bungkie {
    .bungkie-header {
        margin-bottom: 1.5rem;
        .text {
            color: #444444;
            font-size: 1.9rem;
            font-weight: 300;
            margin-bottom: 0;
            text-transform: uppercase;
            display: inline;
            @include media-breakpoint-down(xs) {
                font-size: 1rem;
            }
            b {
                font-weight: bold;
            }
        }
    }
    .bungkie-content {
        padding: 0px 3rem 0px 3rem;
        @include media-breakpoint-down(xs) {
            padding: 0px;
        }
    }
}
