footer {
    .brands {
        display: flex;
        justify-content: center;
        align-items: center;
        .item {
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                max-width: 100%;
                max-height: 100%;
                display: block;
                margin: 0 auto;
            }
        }
    }
}
