.flag {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url(//cdn6.agoda.net/images/desktop/bg-sprite-flags.png);
    background-repeat: no-repeat;
    background-position: 0 100px;
    vertical-align: -4px;
    display: inline-block;
    line-height: 0;
    font-size: 0;
    &.flag-18 {
        width: 24px;
        height: 18px;
        vertical-align: text-top;

        &.flag-18-af {
            background-position: -432px -172px
        }

        &.flag-18-al {
            background-position: -24px -196px
        }

        &.flag-18-dz {
            background-position: -360px -244px
        }

        &.flag-18-as {
            background-position: -168px -196px
        }

        &.flag-18-ad {
            background-position: -384px -172px
        }

        &.flag-18-ao {
            background-position: -96px -196px
        }

        &.flag-18-ai {
            background-position: 0 -196px
        }

        &.flag-18-aq {
            background-position: -120px -196px
        }

        &.flag-18-ag {
            background-position: -456px -172px
        }

        &.flag-18-ar {
            background-position: -144px -196px
        }

        &.flag-18-am {
            background-position: -48px -196px
        }

        &.flag-18-aw {
            background-position: -240px -196px
        }

        &.flag-18-ax {
            background-position: -264px -196px
        }

        &.flag-18-au {
            background-position: -216px -196px
        }

        &.flag-18-at {
            background-position: -192px -196px
        }

        &.flag-18-az {
            background-position: -288px -196px
        }

        &.flag-18-bs {
            background-position: -168px -220px
        }

        &.flag-18-bh {
            background-position: -456px -196px
        }

        &.flag-18-bd {
            background-position: -360px -196px
        }

        &.flag-18-bb {
            background-position: -336px -196px
        }

        &.flag-18-by {
            background-position: -240px -220px
        }

        &.flag-18-be {
            background-position: -384px -196px
        }

        &.flag-18-bz {
            background-position: -264px -220px
        }

        &.flag-18-bj {
            background-position: -24px -220px
        }

        &.flag-18-bm {
            background-position: -72px -220px
        }

        &.flag-18-bt {
            background-position: -192px -220px
        }

        &.flag-18-bo {
            background-position: -120px -220px
        }

        &.flag-18-ba {
            background-position: -312px -196px
        }

        &.flag-18-bw {
            background-position: -216px -220px
        }

        &.flag-18-br {
            background-position: -144px -220px
        }

        &.flag-18-bn {
            background-position: -96px -220px
        }

        &.flag-18-bf {
            background-position: -408px -196px
        }

        &.flag-18-bi {
            background-position: 0 -220px
        }

        &.flag-18-ci {
            background-position: -432px -220px
        }

        &.flag-18-kh {
            background-position: -168px -316px
        }

        &.flag-18-cm {
            background-position: -24px -244px
        }

        &.flag-18-ca {
            background-position: -288px -220px
        }

        &.flag-18-cv {
            background-position: -144px -244px
        }

        &.flag-18-ky {
            background-position: -144px -268px
        }

        &.flag-18-cf {
            background-position: -360px -220px
        }

        &.flag-18-td {
            background-position: -360px -388px
        }

        &.flag-18-cl {
            background-position: 0 -244px
        }

        &.flag-18-cx {
            background-position: -168px -244px
        }

        &.flag-18-cc {
            background-position: -312px -220px
        }

        &.flag-18-co {
            background-position: -72px -244px
        }

        &.flag-18-km {
            background-position: -216px -316px
        }

        &.flag-18-cg {
            background-position: -384px -220px
        }

        &.flag-18-cd {
            background-position: -336px -220px
        }

        &.flag-18-ck {
            background-position: -456px -220px
        }

        &.flag-18-cr {
            background-position: -96px -244px
        }

        &.flag-18-cu {
            background-position: -120px -244px
        }

        &.flag-18-cy {
            background-position: -192px -244px
        }

        &.flag-18-dj {
            background-position: -264px -244px
        }

        &.flag-18-dm {
            background-position: -312px -244px
        }

        &.flag-18-do {
            background-position: -336px -244px
        }

        &.flag-18-ec {
            background-position: -384px -244px
        }

        &.flag-18-eg {
            background-position: -216px -292px
        }

        &.flag-18-sv {
            background-position: -336px -364px
        }

        &.flag-18-gq {
            background-position: 0 -292px
        }

        &.flag-18-er {
            background-position: 0 -268px
        }

        &.flag-18-et {
            background-position: -48px -268px
        }

        &.flag-18-fk {
            background-position: -144px -268px
        }

        &.flag-18-fo {
            background-position: -192px -268px
        }

        &.flag-18-fj {
            background-position: -120px -268px
        }

        &.flag-18-ga {
            background-position: -240px -268px
        }

        &.flag-18-gm {
            background-position: -432px -268px
        }

        &.flag-18-ge {
            background-position: -312px -268px
        }

        &.flag-18-gh {
            background-position: -360px -268px
        }

        &.flag-18-gi {
            background-position: -384px -268px
        }

        &.flag-18-gl {
            background-position: -408px -268px
        }

        &.flag-18-gd {
            background-position: -288px -268px
        }

        &.flag-18-gu {
            background-position: -96px -292px
        }

        &.flag-18-gt {
            background-position: -72px -292px
        }

        &.flag-18-gsy {
            background-position: -336px -268px
        }

        &.flag-18-gn {
            background-position: -456px -268px
        }

        &.flag-18-gw {
            background-position: -120px -292px
        }

        &.flag-18-gy {
            background-position: -144px -292px
        }

        &.flag-18-ht {
            background-position: -240px -292px
        }

        &.flag-18-hn {
            background-position: -192px -292px
        }

        &.flag-18-hk {
            background-position: -264px -460px
        }

        &.flag-18-is {
            background-position: -456px -292px
        }

        &.flag-18-ir {
            background-position: -432px -292px
        }

        &.flag-18-iq {
            background-position: -408px -292px
        }

        &.flag-18-ie {
            background-position: -312px -292px
        }

        &.flag-18-jm {
            background-position: -48px -316px
        }

        &.flag-18-gb-jsy {
            background-position: -24px -316px
        }

        &.flag-18-jo {
            background-position: -72px -316px
        }

        &.flag-18-kz {
            background-position: -384px -316px
        }

        &.flag-18-ke {
            background-position: -120px -316px
        }

        &.flag-18-ki {
            background-position: -192px -316px
        }

        &.flag-18-kv {
            background-position: -312px -316px
        }

        &.flag-18-kw {
            background-position: -336px -316px
        }

        &.flag-18-kg {
            background-position: -144px -316px
        }

        &.flag-18-la {
            background-position: -408px -316px
        }

        &.flag-18-lb {
            background-position: -432px -316px
        }

        &.flag-18-ls {
            background-position: -72px -340px
        }

        &.flag-18-lr {
            background-position: -48px -340px
        }

        &.flag-18-ly {
            background-position: -168px -340px
        }

        &.flag-18-li {
            background-position: 0 -340px
        }

        &.flag-18-lu {
            background-position: -120px -340px
        }

        &.flag-18-mo {
            background-position: -432px -340px
        }

        &.flag-18-mk {
            background-position: -336px -340px
        }

        &.flag-18-mg {
            background-position: -288px -340px
        }

        &.flag-18-mw {
            background-position: -120px -364px
        }

        &.flag-18-mv {
            background-position: -96px -364px
        }

        &.flag-18-ml {
            background-position: -360px -340px
        }

        &.flag-18-mt {
            background-position: -48px -364px
        }

        &.flag-18-gb-iom {
            background-position: -360px -292px
        }

        &.flag-18-mh {
            background-position: -312px -340px
        }

        &.flag-18-mr {
            background-position: 0 -364px
        }

        &.flag-18-mu {
            background-position: -72px -364px
        }

        &.flag-18-yt {
            background-position: 96px -138px
        }

        &.flag-18-mx {
            background-position: -144px -364px
        }

        &.flag-18-fm {
            background-position: -168px -268px
        }

        &.flag-18-md {
            background-position: -384px -172px
        }

        &.flag-18-me {
            background-position: -264px -340px
        }

        &.flag-18-mc {
            background-position: -216px -340px
        }

        &.flag-18-mn {
            background-position: -408px -340px
        }

        &.flag-18-ms {
            background-position: -24px -364px
        }

        &.flag-18-ma {
            background-position: -192px -340px
        }

        &.flag-18-mz {
            background-position: -192px -364px
        }

        &.flag-18-mm {
            background-position: -384px -340px
        }

        &.flag-18-na {
            background-position: -216px -364px
        }

        &.flag-18-nr {
            background-position: -432px -364px
        }

        &.flag-18-np {
            background-position: -408px -364px
        }

        &.flag-18-an {
            background-position: -72px -196px
        }

        &.flag-18-nc {
            background-position: -240px -364px
        }

        &.flag-18-nz {
            background-position: 0 -388px
        }

        &.flag-18-ni {
            background-position: -336px -364px
        }

        &.flag-18-ne {
            background-position: -264px -364px
        }

        &.flag-18-ng {
            background-position: -312px -364px
        }

        &.flag-18-nu {
            background-position: -456px -364px
        }

        &.flag-18-nf {
            background-position: -288px -364px
        }

        &.flag-18-kp {
            background-position: -264px -316px
        }

        &.flag-18-mp {
            background-position: -456px -340px
        }

        &.flag-18-om {
            background-position: -24px -388px
        }

        &.flag-18-pk {
            background-position: -144px -388px
        }

        &.flag-18-pw {
            background-position: -288px -388px
        }

        &.flag-18-pa {
            background-position: -48px -388px
        }

        &.flag-18-pg {
            background-position: -96px -388px
        }

        &.flag-18-py {
            background-position: -312px -388px
        }

        &.flag-18-ph {
            background-position: -120px -388px
        }

        &.flag-18-pn {
            background-position: -192px -388px
        }

        &.flag-18-pr {
            background-position: -216px -388px
        }

        &.flag-18-ps {
            background-position: -240px -388px
        }

        &.flag-18-qa {
            background-position: -336px -388px
        }

        &.flag-18-rs {
            background-position: -384px -388px
        }

        &.flag-18-rw {
            background-position: -432px -388px
        }

        &.flag-18-st {
            background-position: -336px -412px
        }

        &.flag-18-ws {
            background-position: -96px -460px
        }

        &.flag-18-sm {
            background-position: -216px -412px
        }

        &.flag-18-sa {
            background-position: -456px -388px
        }

        &.flag-18-sn {
            background-position: -240px -412px
        }

        &.flag-18-sc {
            background-position: -24px -412px
        }

        &.flag-18-sl {
            background-position: -192px -412px
        }

        &.flag-18-sg {
            background-position: -96px -412px
        }

        &.flag-18-sk {
            background-position: -168px -412px
        }

        &.flag-18-sb {
            background-position: 0 -412px
        }

        &.flag-18-so {
            background-position: -264px -412px
        }

        &.flag-18-za {
            background-position: -168px -460px
        }

        &.flag-18-gs {
            background-position: -48px -292px
        }

        &.flag-18-lk {
            background-position: -24px -340px
        }

        &.flag-18-sh {
            background-position: -24px -364px
        }

        &.flag-18-kn {
            background-position: -240px -316px
        }

        &.flag-18-lc {
            background-position: -456px -316px
        }

        &.flag-18-vc {
            background-position: -432px -436px
        }

        &.flag-18-sd {
            background-position: -48px -412px
        }

        &.flag-18-sr {
            background-position: -288px -412px
        }

        &.flag-18-ss {
            background-position: -312px -412px
        }

        &.flag-18-sz {
            background-position: -408px -412px
        }

        &.flag-18-bl {
            background-position: -48px -220px
        }

        &.flag-18-ch {
            background-position: -408px -220px
        }

        &.flag-18-sy {
            background-position: -384px -412px
        }

        &.flag-18-tj {
            background-position: -48px -436px
        }

        &.flag-18-tz {
            background-position: -264px -436px
        }

        &.flag-18-tp {
            background-position: -144px -436px
        }

        &.flag-18-tg {
            background-position: 0 -436px
        }

        &.flag-18-to {
            background-position: -120px -436px
        }

        &.flag-18-tt {
            background-position: -192px -436px
        }

        &.flag-18-tn {
            background-position: -96px -436px
        }

        &.flag-18-tm {
            background-position: -72px -436px
        }

        &.flag-18-tc {
            background-position: -432px -412px
        }

        &.flag-18-tv {
            background-position: -216px -436px
        }

        &.flag-18-tw {
            background-position: -264px -460px
        }

        &.flag-18-ug {
            background-position: -312px -436px
        }

        &.flag-18-ae {
            background-position: -456px -388px
        }

        &.flag-18-gb {
            background-position: -264px -268px
        }

        &.flag-18-us {
            background-position: -240px -460px
        }

        &.flag-18-uy {
            background-position: -360px -436px
        }

        &.flag-18-uz {
            background-position: -384px -436px
        }

        &.flag-18-vu {
            background-position: -72px -460px
        }

        &.flag-18-va {
            background-position: -408px -436px
        }

        &.flag-18-ve {
            background-position: -456px -436px
        }

        &.flag-18-vi {
            background-position: -24px -460px
        }

        &.flag-18-vg {
            background-position: 0 -460px
        }

        &.flag-18-eh {
            background-position: -456px -244px
        }

        &.flag-18-ye {
            background-position: -120px -460px
        }

        &.flag-18-zm {
            background-position: -192px -460px
        }

        &.flag-18-zw {
            background-position: -216px -460px
        }

        &.flag-18-bq {
            background-position: -336px -460px
        }

        &.flag-18-cw {
            background-position: -360px -460px
        }

        &.flag-18-gp {
            background-position: -384px -460px
        }

        &.flag-18-mq {
            background-position: -408px -460px
        }

        &.flag-18-sx {
            background-position: -432px -460px
        }

        &.flag-18-re {
            background-position: -456px -460px
        }

        &.flag-18-en {
            background-position: -240px -460px
        }

        &.flag-18-it {
            background-position: 0 -316px
        }

        &.flag-18-gr {
            background-position: -24px -292px
        }

        &.flag-18-nl {
            background-position: -360px -364px
        }

        &.flag-18-my {
            background-position: -168px -364px
        }

        &.flag-18-id {
            background-position: -288px -292px
        }

        &.flag-18-dk {
            background-position: -288px -244px
        }

        &.flag-18-tr {
            background-position: -168px -436px
        }

        &.flag-18-in {
            background-position: -384px -292px
        }

        &.flag-18-si {
            background-position: -144px -412px
        }

        &.flag-18-lt {
            background-position: -96px -340px
        }

        &.flag-18-ee {
            background-position: -408px -244px
        }

        &.flag-18-fr {
            background-position: -216px -268px
        }

        &.flag-18-es {
            background-position: -24px -268px
        }

        &.flag-18-cn {
            background-position: -48px -244px
        }

        &.flag-18-ru {
            background-position: -408px -388px
        }

        &.flag-18-vn {
            background-position: -48px -460px
        }

        &.flag-18-pl {
            background-position: -168px -388px
        }

        &.flag-18-fi {
            background-position: -96px -268px
        }

        &.flag-18-bg {
            background-position: -432px -196px
        }

        &.flag-18-il {
            background-position: -336px -292px
        }

        &.flag-18-lv {
            background-position: -144px -340px
        }

        &.flag-18-ua {
            background-position: -288px -436px
        }

        &.flag-18-de {
            background-position: -240px -244px
        }

        &.flag-18-jp {
            background-position: -96px -316px
        }

        &.flag-18-kr {
            background-position: -288px -316px
        }

        &.flag-18-pt {
            background-position: -264px -388px
        }

        &.flag-18-th {
            background-position: -24px -436px
        }

        &.flag-18-se {
            background-position: -72px -412px
        }

        &.flag-18-no {
            background-position: -384px -364px
        }

        &.flag-18-cz {
            background-position: -216px -244px
        }

        &.flag-18-hu {
            background-position: -264px -292px
        }

        &.flag-18-ro {
            background-position: -240px -340px
        }

        &.flag-18-hr {
            background-position: -216px -292px
        }

        &.flag-18-pf {
            background-position: 0 -484px
        }

        &.flag-18-eu {
            background-position: -72px -268px
        }

        &.flag-18-ca-es,&.flag-18-es.ca-es {
            background-position: -288px -460px
        }

        &.flag-18-cmn {
            background-position: -26px -484px
        }

        &.flag-18-yue {
            background-position: -74px -484px
        }

        &.flag-18-zho {
            background-position: -264px -460px
        }

        &.flag-18-ro {
            background-position: -360px -387px
        }

        &.flag-18-eg {
            background-position: -432px -244px
        }

        &.flag-18-tw {
            background-position: -240px -436px
        }

        &.flag-18-hk {
            background-position: -168px -292px
        }

        &.flag-18-pe {
            background-position: -72px -388px
        }

        &.flag-18-mq {
            background-position: -216px -268px
        }

        &.flag-18-io {
            background-position: -96px -484px
        }

        &.flag-18-yt {
            background-position: -288px -923px
        }

        &.flag-18-mf,&.flag-18-pm {
            background-position: -216px -268px
        }

        &.flag-18-tk {
            background-position: -120px -484px
        }

        &.flag-18-wf {
            background-position: -144px -484px
        }

        &.flag-18-us-v2 {
            background-position: -336px -436px
        }
    }
}
