body,
button,
input,
textarea,
select {
    * {
        font-family: "Roboto", "Source Sans Pro", "HelveticaNeue-Light",
            "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,
            "Lucida Grande", sans-serif;
    }
}
[v-cloak] {
    display: none;
}
$main-color: #ff2d3b;
.navbar-search input[type="text"] {
    padding: 22px !important;
}
a {
    text-decoration: none !important;
}
.departments-menu {
    .dropdown-toggle:after {
        margin-left: 2px !important;
    }
}

.slick-slider {
    .slick-dots {
        li {
            &.slick-active {
                button {
                    border-radius: 40px;
                }
            }

            button {
                border: 1px solid #f9f9f9;
                border-radius: 100%;
                padding: 0 !important;
            }
        }
    }
    .slick-arrow {
        &.ads-arrow {
            @media (max-width: 575px) {
                display: none !important;
            }

            position: absolute;
            background-color: #0000005c;
            color: white;
            border: 1px solid white;
            z-index: 5;
            padding: 0.1rem;
            border-radius: 100%;
            top: 50%;
            display: inline-block;
            width: 32px;
            height: 33px;
            text-align: center;
            opacity: 0.7;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }

            &.left {
                left: 1.5rem;
                padding-right: 0.3rem;
            }

            &.right {
                right: 1.5rem;
                padding-left: 0.3rem;
            }

            .icon {
                font-size: 1rem;
            }
        }
    }
}
.woocommerce-breadcrumb {
    display: flex;
    align-items: center;
}

.site-header .custom-logo-link img,
.site-header .site-logo-anchor img,
.site-header .site-logo-link img {
    width: 175px;
}

// modal image
.image-modal {
    .modal-content {
        background-color: transparent !important;
        border: none !important;
        .modal-body {
            position: relative;
            .close {
                position: absolute;
                right: 40px;
                top: 0px;
                background: #fff;
                opacity: 1;
                text-shadow: inherit;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                color: $main-color;
                font-weight: 400;
                transition: all ease 0.5;
                &:hover {
                    color: #fff;
                    background: $main-color;
                }
            }
            .image {
                width: 430px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}

.util-footer {
    background-color: #f9f9f9;
    .buyer-guide {
        padding: 2rem 0;
        padding-bottom: 0;

        @media (min-width: 768px) {
            padding-bottom: 1rem;
        }

        .item {
            margin-bottom: 1rem;

            &:nth-child(1) {
                .icon {
                    color: #ff2d3b;
                }
            }

            &:nth-child(2) {
                .icon {
                    color: #ff2d3b;
                }
            }

            &:nth-child(3) {
                .icon {
                    color: #ff2d3b;
                }
            }

            &:nth-child(4) {
                .icon {
                    color: #ff2d3b;
                }
            }

            .frame {
                //border: 2px solid #ebebeb;
                //padding: 0.5rem;
                //border-radius: 0.5rem;
                height: 100%;

                @media (min-width: 768px) {
                    //padding: 1rem;
                }

                .icon {
                    font-size: 3.5rem;
                    margin-bottom: 0.5rem;
                    display: inline-block;
                }

                .title {
                    font-size: 1rem;
                    font-weight: 500;
                    color: #1f1f1f;
                    margin-bottom: 0.5rem;
                    line-height: 1;
                }

                .subtitle {
                    font-size: 0.8rem;
                    color: #2c2d33;
                    margin-bottom: 0;
                }
            }
        }
    }

    .payment-logo {
        padding: 2rem 0;
        padding-bottom: 0;

        @media (min-width: 768px) {
            padding-bottom: 1rem;
        }

        .frame {
            border: 2px solid #ebebeb;
            border-radius: 0.5rem;
            padding: 2.5em 0.5em;
            position: relative;

            .title {
                position: absolute;
                top: -1em;
                left: 0;
                width: 100%;
                text-align: center;

                @media (min-width: 768px) {
                    top: -1.5em;
                }

                .text {
                    font-size: 1.2em;
                    font-weight: 500;
                    background-color: #f9f9f9;
                    color: #1f1f1f;
                    padding: 0 1rem;

                    @media (min-width: 768px) {
                        font-size: 1.5em;
                    }
                }
            }

            .logo-group {
                .carousel {
                    .brands {
                        .item {
                            padding: 0.5rem;

                            .logo {
                                width: 100%;
                                max-width: 120px;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }

    .site-map {
        background-color: #f9f9f9;
        color: #626262;
        font-size: 0.938em;
        padding: 2rem 0;
        padding-bottom: 0.5rem;

        .foot-menu-group {
            margin-bottom: 1.5rem;

            .header {
                margin-bottom: 1em;

                .text {
                    color: #1f1f1f;
                    font-weight: 500;
                }
            }

            .link-list {
                margin: 0;

                .item {
                    margin-bottom: 0.2rem;

                    .text {
                        font-size: 0.938em;
                    }

                    .link {
                        &:hover {
                            .text {
                                text-decoration: underline;
                            }
                        }

                        .text {
                            font-size: 0.938em;
                        }

                        .icon {
                            font-size: 1.1rem;
                            margin-right: 0.3rem;
                        }
                    }
                }
            }
        }
    }

    .coppy-right {
        width: 100vw;
        margin-left: -50vw;
        left: 50%;
        position: relative;
        background-color: #222;
        padding: 1em 0;

        .text {
            text-align: center;
            color: #bababa;
            font-size: 0.933em;
            letter-spacing: -0.034em;
            margin: 0;
        }
    }
}
.navbar-search {
    .search-categories {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 2px solid #e7e7e7 !important;
        padding-left: 0px;
        width: 220px;
        max-width: 220px;
        @media (min-width: 1590px) {
            padding-right: 0px !important;
        }
        &:hover {
            cursor: pointer;
        }
    }

    .dropdown-menu {
        border-top: 2px solid $main-color;
        border-radius: 0px;
        li {
            line-height: 1;
            a {
                width: 100%;
                font-size: 0.875em;
                display: block;
                padding: 0.6em 0.875em;
                &:hover {
                    background-color: #f9f9f9;
                }
            }
        }
    }
}

.util-grid-product-item {
    padding: 0.3rem;

    @media (min-width: 576px) {
        padding: 0.5rem;
    }

    .frame {
        background-color: #fff;
        border-radius: 6px;
        box-sizing: border-box;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);

        .content {
            padding: 0.5rem;
            &.top {
                padding: 0;
                padding-bottom: 0.5rem;
                position: relative;
                .thumbnail {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid #ddd;
                    img {
                        width: 270px;
                        height: 220px;
                        display: block;
                        object-fit: cover;
                        margin: 0 auto;
                        @include media-breakpoint-down(lg) {
                            height: 135px;
                        }
                        @include media-breakpoint-down(md) {
                            height: 150px;
                        }
                        @include media-breakpoint-down(xs) {
                            height: 165px;
                        }
                    }
                }

                .label {
                    background-color: $main-color;
                    color: white;
                    padding: 0.2rem 0.5rem;
                    border-radius: 0.2rem;
                    font-size: 0.7rem;
                    position: absolute;
                    top: 0.5rem;
                    right: 0.5rem;
                    line-height: 1;

                    &.success {
                        background-color: #62ab00;
                    }
                }

                .image {
                    width: 100%;
                    border-radius: 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                .meta {
                    padding: 0.5rem;
                    padding-bottom: 0;

                    .image {
                        margin-bottom: 0.5rem;
                    }

                    .text {
                        line-height: 1.4em;
                        font-weight: 400;
                        color: #626060;
                        font-size: 0.9em;
                        height: 40px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        -moz-box-orient: vertical;
                        -webkit-box-orient: vertical;
                        box-orient: vertical;
                        -webkit-line-clamp: 2;
                        display: -moz-box;
                        display: -webkit-box;
                        display: box;
                    }
                }
            }

            &.center {
                display: none;
                background: transparent
                    linear-gradient(235deg, #ff2939 0%, #df1b24 100%) 0% 0%
                    no-repeat padding-box;
                box-shadow: 10px 0px 13px -7px #000000,
                    5px 5px 15px 5px rgba(0, 0, 0, 0);

                &:hover {
                    .add-cart {
                        transform: scale(1.05);
                        font-weight: 500;
                    }
                }

                .add-cart {
                    font-size: 0.9em;
                    font-weight: 400;
                    line-height: 1;
                    margin-bottom: 0;
                    padding: 0.2rem;
                    text-align: center;
                    color: white;

                    .icon {
                        font-size: 1rem;
                        vertical-align: baseline;
                        margin-right: 0.2rem;
                    }
                }
            }

            &.bottom {
                //padding-top: 0.8rem;

                .price {
                    margin-bottom: 0.1rem;
                    line-height: 1;

                    &.sale {
                        color: $main-color;
                        font-size: 1em;
                    }

                    &.full {
                        font-size: 0.8em;
                        font-weight: 400;
                        color: #aaa;
                        text-decoration: line-through;
                        min-height: 12px;
                    }

                    &.label {
                        font-size: 0.8em;
                        font-weight: 400;
                        color: #aaa;
                        min-height: 12px;
                    }
                }

                .meta {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .left {
                        .rating {
                            display: flex;
                            margin-top: 0.5rem;

                            .icon {
                                display: inline-block;
                                margin-right: 0.2rem;
                                width: 0.8rem;
                                height: 0.8rem;
                                border-radius: 0;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }

                    .right {
                        @media (max-width: 345px) {
                            display: none;
                        }

                        .action {
                            display: flex;

                            .link {
                                margin-right: 0.6rem;

                                &:last-child {
                                    margin-right: 0;
                                }

                                &:hover {
                                    .icon {
                                        color: #ff2d3b;
                                        transform: scale(1.05);
                                    }
                                }

                                .icon {
                                    display: inline-block;
                                    font-size: 1.2rem;
                                    border-radius: 0;
                                    color: #aaa;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.desktop-only {
    .stretched-row {
        background-color: #fff !important;
        .navbar-primary {
            display: flex;
            justify-content: center;
            align-items: center;
            .nav {
                li {
                    display: inline-flex;
                    align-items: center;
                    padding: inherit !important;
                    padding-left: 10px !important;
                    &::after {
                        content: " ";
                        width: 1px;
                        display: inline-block;
                        height: 25px;
                        background-color: $main-color;
                        margin-left: 13px !important;
                    }
                    &:last-child::after {
                        width: 0px;
                        background-color: inherit;
                        margin-left: inherit;
                    }
                    a {
                        color: #444 !important;
                        display: flex;
                        align-items: center;
                        &:after {
                            top: 0px !important;
                        }
                    }

                    .dropdown-menu {
                        margin-top: 0 !important;
                        top: 100% !important;
                        display: none;
                    }
                    &:hover {
                        .dropdown-menu {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
