<template>
    <slick ref="slick" class="home-v3-slider home-slider" :options="slickOptions">
        <div class="slider-1 slider-2 carousel-item" style="width: 100%" v-for="(slider, index) in sliders" :key="index">
            <div class="util-home-carousel-ads-item">
                <div class="bg-blur" :style="'background-image: url('+ sliders +')'"></div>
                <img class="banner" :src="slider" alt=""> 
            </div>
        </div>
    </slick>
</template>
<script>
import Slick from 'vue-slick';
export default {
    name: "banner-component",
    components: { Slick },
    data() {
        return {
            sliders: [
                'https://bungkie.com/admin/storage/app/products/FSfXtKSqRVw0mfzVJwWUjnIIvCESVuPbujy1NvEw.jpg',
                'https://bungkie.com/admin/storage/app/products/FSfXtKSqRVw0mfzVJwWUjnIIvCESVuPbujy1NvEw.jpg',
                'https://bungkie.com/admin/storage/app/products/FSfXtKSqRVw0mfzVJwWUjnIIvCESVuPbujy1NvEw.jpg',
                'https://bungkie.com/admin/storage/app/products/FSfXtKSqRVw0mfzVJwWUjnIIvCESVuPbujy1NvEw.jpg'
            ],
            slickOptions: {
                dots: true,
				infinite: true,
				speed: 300,
				slidesToShow: 1,
				autoplay: true,
				pauseOnHover: false,
				arrows: true,
				autoplaySpeed: 3000,
				fade: true,
				lazyLoad: 'progressive',
				cssEase: 'linear',
				nextArrow: '<span class="ads-arrow right"><i class="tm tm-arrow-right"></i></span>',
  				prevArrow: '<span class="ads-arrow left"><i class="tm tm-arrow-left"></i></span>',
            },
        }
    }
}
</script>