<template>
    <section id="featured">
        <div class="section secondary border-none" style="padding: 0; padding-top: 1rem;"></div>
        <div class="section secondary border-none">
            <div class="col-full">
                <div class="head-title">
                    <span class="wrap">
                        <span class="text">Featured <b>Categories</b></span>
                    </span>
                </div>
                <div class="content">
                    <slick ref="slick" class="categories-carousel util-carousel-padding" :options="slickOptions" v-if="categorys">
                        <div v-for="(item, index) in categorys" :key="index">
                            <nav id="categories-carousel-arrows" class="util-custom-slick-nav center"></nav>
                            <div id="categories-carousel-items" class="items">
                                <a :href="'category/' + item.url">
                                    <div class="item">
                                        <div class="icon-frame">
                                            <img class="icon" :src="item.image" :alt="item.name"/>
                                            <p class="text">{{ item.name }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </slick>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import Slick from 'vue-slick';
export default {
    name: "slick-component",
    components: { Slick },
    
    data() {
        return {
            product: null,
            categorys: null, 
            slickOptions: {
                dots: true,
                arrows: true,
                infinite: true,
                autoplay: true,
                slidesToShow: 9,
                slidesToScroll: 9,
				autoplaySpeed: 5000,
				lazyLoad: 'progressive',
				cssEase: 'linear',
				nextArrow: '<a href="#"><i class="tm tm-arrow-right"></i></a>',
                prevArrow: '<a href="#"><i class="tm tm-arrow-left"></i></a>',
                appendArrows: '#categories-carousel-arrows',
                responsive: [
                    {
                        breakpoint: 575,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 1400,
                        settings: {
                            slidesToShow: 6,
                            slidesToScroll: 3
                        }
                    },

                ]  
            },
        }
    },
    mounted() {
        console.log('Featured')
        this.feedCategory();
    },
    methods: {
        feedCategory: function() {
            let api = "http://localhost/bungkie_backend/api/category";
            axios.get(api, {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ruaIEjWw1HGB8AADnOPRwiWznFjszCIalm8YLpBh`
                }
            }).then((response) => {
                if (response.data.status === true) {
                    this.categorys = response.data.data;
                }
            }).catch((error) => {
                console.error(error)
            });
        }
    },
}
</script>