<template>
    <section id="">
        <div class="section secondary border-none">
            <div class="col-full">
                <div class="head-title">
                    <span class="wrap">
                        <span class="text" v-html="title"></span>
                    </span>
                </div>
                <div class="content">
                    <!-- {{ products[0][''] }} -->
                    <div class="product-carousel util-carousel-padding" >
                            <nav :id="name+'-arrow'" class="util-custom-slick-nav center"></nav>
                            <div id="new-arrival-carousel-items" class="items">
                                <slick ref="slick" :options="slickOptions" v-if="products">
                                    <div class="item" v-for="(item, index) in products" :key="index">
                                        <div class="util-grid-product-item">
                                            <div class="frame">
                                                <a :href="'product/' + item.product_id + '/' + item.url">
                                                    <div class="content top">
                                                        <img :src="item.images" class="back-drop" :alt="item.name">
                                                        <span class="label success" v-if="item.currency.discount">{{item.currency.display_percent }}%</span>
                                                        <img :src="item.images" :style="'background-image: url('+ item.images +')'" class="image" :alt="item.name">  
                                                        <div class="meta">
                                                            <p class="text">{{ item.name }}</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a :href="'product/' + item.product_id + '/' + item.url">
                                                    <div class="content center">
                                                        <p class="add-cart">
                                                            <i class="icon tm tm-shopping-bag"></i>add cart
                                                        </p>
                                                    </div>
                                                </a>

                                                <div class="content bottom">
                                                    <p class="price sale">{{ item.currency.price }}</p>
                                                    <p class="price full" v-if="item.currency.discount">{{ item.currency.base }}</p>
                                                    <div class="meta">
                                                        <div class="left">
                                                            <div class="rating">
                                                                <img class="icon" src="http://localhost/central-siam/frontend/public/assets/images/icon/star-empty.png" alt="empty" />
                                                                <img class="icon" src="http://localhost/central-siam/frontend/public/assets/images/icon/star-empty.png" alt="empty" />
                                                                <img class="icon" src="http://localhost/central-siam/frontend/public/assets/images/icon/star-empty.png" alt="empty" />
                                                                <img class="icon" src="http://localhost/central-siam/frontend/public/assets/images/icon/star-empty.png" alt="empty" />
                                                                <img class="icon" src="http://localhost/central-siam/frontend/public/assets/images/icon/star-empty.png" alt="empty" />
                                                            </div>
                                                        </div>
                                                        <div class="right">
                                                            <div class="action">
                                                                <a class="link" href="#"><i class="icon tm tm-compare"></i></a>
                                                                <a class="link" href="#"><i class="icon tm tm-favorites"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </slick>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import Slick from 'vue-slick';
import axios from 'axios';
export default {
    name: "product-component",
    components: { Slick },
    props: ['name', 'title', 'category'],
    data() {
        return {
            products: null, 
            slickOptions: {
                dots: true,
                arrows: true,
                infinite: false,
                autoplay: false,
                slidesToShow: 6,
                slidesToScroll: 3,
				lazyLoad: 'progressive',
				cssEase: 'linear',
				nextArrow: '<a href="#"><i class="tm tm-arrow-right"></i></a>',
                prevArrow: '<a href="#"><i class="tm tm-arrow-left"></i></a>',
                appendArrows: '#'+ this.name +'-arrow',
                responsive: [
                    {
                        breakpoint: 575,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 1400,
                        settings: {
                            slidesToShow: 6,
                            slidesToScroll: 3
                        }
                    },

                ]  
            },
        }
    },
    mounted() {
        this.feedProduct();
    },
    methods: {
        feedProduct: function() {
            let api = "http://localhost/bungkie_backend/api/product/listitem?limit=20&offset=0&type=category&typeId=";
            axios.get(api + this.category, {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ruaIEjWw1HGB8AADnOPRwiWznFjszCIalm8YLpBh`
                }
            }).then((response) => {
                if (response.data.status === true) {
                    this.products = response.data.data;
                }
            }).catch((error) => {
                console.error(error)
            });
        }
    },
}
</script>