<template>
<div id="content" class="site-content" tabindex="-1">
	<div class="col-full">
		<div class="row">
			<nav class="woocommerce-breadcrumb">
				<a href="/">Home</a>
				<span class="delimiter"><i class="tm tm-breadcrumbs-arrow-right"></i></span><a href="product-category.php?cat_id=&sub_cat_id=&cat_name="></a>
				<span class="delimiter"><i class="tm tm-breadcrumbs-arrow-right"></i></span>product_name
			</nav><!-- .woocommerce-breadcrumb -->
			
			<div id="primary" class="content-area">
				<main id="main" class="site-main">
					<div class="product product-type-simple">
						<div class="single-product-wrapper">                        					
                            
                            <div class="summary entry-summary">
                                <div class="single-product-header">
                                    <h1 class="product_title entry-title">'product_name'</h1>
                                    <a onclick="add_to('', 'wishlist');" class="add-to-wishlist" href="#"> {{messages.add_to_wishlist}}</a>
                                </div><!-- .single-product-header -->

                                <div class="single-product-meta">
                                    <!-- <div class="brand">
                                        <a href="#">
                                        <img loading='lazy'  async='on'alt="galaxy" src="assets/images/brands/5.png"></a>
                                    </div> -->

                                    <div class="cat-and-sku">
                                        <span class="posted_in categories">
                                            <a rel="tag" href="index.php?page=product-category&cat_id=&sub_cat_id="></a>
                                        </span>

                                        <span class="sku_wrapper">SKU: <span class="sku"></span></span>
                                    </div>

                                    <!-- <div class="product-label">
                                        <div class="ribbon label green-label"><span>A+</span></div>
                                    </div> -->
                                </div><!-- .single-product-meta -->

                                <div class="rating-and-sharing-wrapper">
                                    <div class="woocommerce-product-rating">
                                        <div class="star-rating">
                                            <span style="width:100%">Rated <strong class="rating"></strong> out of 5 based on <span class="rating"></span> customer rating</span>
                                        </div>
                                        <a rel="nofollow" class="woocommerce-review-link" href="#reviews">(<span class="count"></span> customer review)</a>
                                    </div>
                                </div><!-- .rating-and-sharing-wrapper -->

                                <div class="woocommerce-product-details__short-description">
                                    <ul>
                                        <!-- <li>Multimedia Speakers</li>
                                        <li>120 watts peak</li>
                                        <li>Front-facing subwoofer</li>
                                        <li>Refresh Rate: 120Hz (Effective)</li>
                                        <li>Backlight: LED</li>
                                        <li>Smart Functionality: Yes, webOS 3.0</li>
                                        <li>Dimensions (W x H x D): TV without stand: 43.5″ x 25.4″ x 3.0″, TV with stand: 43.5″ x 27.6″ x 8.5″</li>
                                        <li>Inputs: 3 HMDI, 2 USB, 1 RF, 1 Component, 1 Composite, 1 Optical, 1 RS232C, 1 Ethernet</li> -->                                        
                                    </ul>
                                </div><!-- .woocommerce-product-details__short-description -->

                                <div class="product-actions-wrapper">
                                    <div class="product-actions">

                                        <p class="price">
                                            
                                                <del>
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">{{messages.currency}}</span></span>
                                                </del>

                                                <ins>
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">{{messages.currency}}</span></span>
                                                </ins>
                                            
                                        </p><!-- .single-product-header -->
                                        
                                            <form enctype="multipart/form-data" method="post" action="update_cart.php" class="cart">
                                                <div class="quantity">
                                                    <label for="quantity-input">{{messages.quantity}}</label>
                                                    <input type="number" size="4" class="input-text qty text" title="Qty" min="1" max="10" value="1" name="quantity" id="quantity-input">
                                                </div><!-- .quantity -->
                                                <input type="hidden" name="prod_id" value="<?php //echo $_GET['prod_id']; ?>">
                                                <input type="hidden" name="cat_id" value="<?php //echo $_GET['cat_id']; ?>">
                                                <input type="hidden" name="sub_cat_id" value="<?php //echo $_GET['sub_cat_id']; ?>">
                                                <input type="hidden" name="session_id" value="<?php //echo $_SESSION['session_id']; ?>">
                                                <input type="hidden" name="act" value="add_to_cart">
                                                <input type="hidden" name="from_page" value="<?php //echo $_SERVER['QUERY_STRING']; ?>">

                                                
                                                    <div style="display: inline-block;">
                                                        <button onclick="add_to('', 'add_to_cart');" class="single_add_to_cart_button button alt" value="185" name="add-to-cart" type="button"><i class="icon icofont-shopping-cart"></i> {{messages.add_to_cart}}</button>&nbsp;&nbsp;&nbsp;
                                                        <a class="single_add_to_cart_button button alt wholesale" href="wholesale-inquiry.php?prod_id="><i class="icon icofont-chat"></i> {{messages.wholesale}}</a>
                                                    </div>
                                                

                                            </form><!-- .cart -->
                                        

                                        <a onclick="add_to('', 'add_to_compare');" class="add-to-compare-link" href="#">{{messages.add_to_compare}}</a>
                                    </div><!-- .product-actions -->
                                </div><!-- .product-actions-wrapper -->
                            </div><!-- .entry-summary -->			
                        </div><!-- .single-product-wrapper -->
						
					</div><!-- .product -->
				</main><!-- #main -->
			</div><!-- #primary -->
		</div><!-- .row -->
	</div><!-- .col-full -->
</div><!-- #content -->
</template>
<script>
import Slick from 'vue-slick';
import axios from 'axios';
export default {
    name: "productDetail-component",
    components: { Slick },
    props: ['name', 'title', 'category'],
    data() {
        return {
            
        }
    },
    mounted() {
        this.feedProduct();
    },
    methods: {
        feedProduct: function() {
            let api = "http://localhost/bungkie_backend/api/product/listitem?limit=20&offset=0&type=category&typeId=";
            axios.get(api + this.category, {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ruaIEjWw1HGB8AADnOPRwiWznFjszCIalm8YLpBh`
                }
            }).then((response) => {
                if (response.data.status === true) {
                    this.products = response.data.data;
                }
            }).catch((error) => {
                console.error(error)
            });
        }
    },
}
</script>