<template>
    <slick ref="slick" :options="slickOptions"><slot></slot></slick>
</template>
<script>
import Slick from 'vue-slick';
export default {
    name: "slick-component",
    components: { Slick },
    data() {
        return {
            test: 'xxx',
            slickOptions: {
                dots: true,
				infinite: true,
				speed: 300,
				slidesToShow: 1,
				autoplay: true,
				pauseOnHover: false,
				arrows: true,
				autoplaySpeed: 3000,
				fade: true,
				lazyLoad: 'progressive',
				cssEase: 'linear',
				nextArrow: '<span class="ads-arrow right"><i class="tm tm-arrow-right"></i></span>',
  				prevArrow: '<span class="ads-arrow left"><i class="tm tm-arrow-left"></i></span>',
            },
        }
    },
    mounted() {
        console.log('xx')
    },
}
</script>